**Assignment 6*

*1. What are escape characters, and how do you use them?*

Escape characters are used to print characters in string values that show up as error, when you try to print them alone, Example:

In [1]:
print('\')  #Trying to print \

SyntaxError: incomplete input (1854938887.py, line 1)

In [2]:
print("\\") #Trying to print " using escape character

\

*2. What do the escape characters n and t stand for?*

n and t stand for newline and tab respectively, Example:

In [3]:
print("Hello,\nMy name is Arbaz")

Hello,
My name is Arbaz

In [4]:
print("Hello,\tMy name is Arbaz")

Hello,	My name is Arbaz

*3. What is the way to include backslash characters in a string?*

By using \\ in the string to be printed, Example:

In [5]:
print("Tea\\Coffee\\Smoothie")

Tea\Coffee\Smoothie

*4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?*

As you have used double quotes around the string, which is useful in printing single quotes and vice-versa, Example:

In [6]:
print("Howl's Moving Castle")

Howl's Moving Castle

*5. How do you write a string of newlines if you don't want to use the n character?*

By writing the strings in multiple lines, Example:

In [7]:
print("This is the first line")
print("This is the second line")

This is the first line
This is the second line

*5. What are the values of the given expressions?*

In [8]:
'Hello, world!'[1] #Answer is 'e'

'e'

In [9]:
'Hello, world!'[0:5] #Answer is 'Hello'

'Hello'

In [10]:
'Hello, world!'[:5] #Answer is 'Hello'

'Hello'

In [11]:
'Hello, world!'[3:]  #Answer is 'lo, world!'

'lo, world!'

*7. What are the values of the following expressions?*

In [12]:
'Hello'.upper() #Answer is 'HELLO'

'HELLO'

In [13]:
'Hello'.upper().isupper()  #Answer is True

True

In [14]:
'Hello'.upper().lower()  #Answer is 'hello'

'hello'

*8. What are the values of the following expressions?*

In [15]:
'Remember, remember, the fifth of July.'.split()
#Answer is ['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [16]:
'-'.join('There can only one.'.split())
#Answer is 'There-can-only-one.'

'There-can-only-one.'

*9. What are the methods for right-justifying, left-justifying, and centering a string?*

Using rjust(no.of_total_char,char in remaining_positions), 
ljust(no.of_total_char,char in remaining_positions), and 
center(no.of_total_char,char in remaining_positions) respectively, Example:

In [17]:
name ="Arbaz"
name.ljust(7,"*")  #Using ljust

'Arbaz**'

In [18]:
name ="Arbaz"
name.rjust(7,"*")  #Using rjust()

'**Arbaz'

In [19]:
name ="Arbaz"
name.center(7,"*")  #Using center()

'*Arbaz*'

*10. *What is the best way to remove whitespace characters from the start or end?*

Using lstrip() and rstrip() respectively, Example:

In [20]:
sent = "        My name is Arbaz      "
sent.lstrip()   #Using lstrip()

'My name is Arbaz      '

In [21]:
sent = "        My name is Arbaz      "
sent.rstrip()   #Using rstrip()

'        My name is Arbaz'