In [ ]:
#Assignment_1
###
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
Values:'hello' , -87.8 , 6
Expressions: * , - , / , +
    
2. What is the difference between string and variable?
String is one of the datatype values, which is stored by variables. And variable are elements in which store values and are called upon by our code.
Example:

In [2]:
string_example = "arbaz"
print(string_example)

arbaz

In [ ]:
###
Here string_example is a type of variable and "arbaz" is an example of string.

3. Describe three different data types.
i) Integers
ii) String
iii) float

In [5]:
var_1 = 5
var_2 = "arbazaga"
var_3 = 6.5
print(f"The data types are as follows: {type(var_1)},{type(var_2)},{type(var_3)}")

The data types are as follows: <class 'int'>,<class 'str'>,<class 'float'>

In [ ]:
###
4. What is an expression made up of? What do all expressions do?
Expressions are a combination of values, variables and operators, which deduce to a value.
Example of 3 types of expressions out of many:

In [6]:
#Arithmetic Expressions
a = 7
b = 6
print(a+b)

13

In [7]:
#Relational Expressions
a = 6
b = 3
print(a>b)

True

In [8]:
#Floating Expressions
a = 45
b = 6
print(a/b)

7.5

In [ ]:
###
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Expressions deduce to a value, whereas statements are instructions which Python intrepreter executes.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

The variable contains 22

In [9]:
bacon = 22
bacon + 1
print(bacon)

22

In [ ]:
7. What should the values of the following two terms be?
spamspamspam

In [17]:
print('spam' + 'spamspam'
      , 'spam' * 3)

spamspamspam spamspamspam

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?
Variable names cannot start with numbers in python.

In [20]:
eggs = "arbaz"
100 = "arbaz"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (398195660.py, line 2)

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
The int(), float(), and str() functions respectively are used to convert a value to an integer, a floating-point number, or a string.

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
By adding quotes to "99"

In [21]:
print('I have eaten ' + '99' + ' burritos.')

I have eaten 99 burritos.

In [ ]:
----